<div class="custom-select" style="width:240px;">
    <select required onchange="yesnoCheck(this)">
        <option value="" disabled selected>Alert Type</option>
        <option value="limit">Limit Change</option>
        <option value="consecutive">Consecutive Test Failure</option>
        <option value="testCoverage">Test Coverage Change</option>
        <option value="component">Component Anomaly</option>
        <option value="degradation">Degradation Anomaly</option>
    </select>
</div>

<div id="ifYes">
    <h2>HI</h2>
</div>