<form>
    <table>
        <!-- <tr>{{ title }}</tr> -->
        <tr>
            <td>
                <label for="uutType">UUT Type:</label>
            </td>
            <td>
                <input id="uutType" type="text" value="{{ title }}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="uutTypeRev">UUT Type Rev:</label>
            </td>
            <td>
                <input id="uutTypeRev" type="text" value="T1">
            </td>
        </tr>
        <tr>
            <td>
                <label for="fixtureID">Fixture ID: </label>
            </td>
            <td>
                <input id="fixtureID" type="text" value="593">
            </td>
        </tr>
        <tr>
            <td>
                <label for="controller">Controller: </label>
            </td>
            <td>
                <input id="controller" type="text" value="MY58120179">
            </td>
        </tr>
    </table>
</form>