<!-- <form>
    <div class="form-group">
        <label for="uutType">UUT Type: </label>
        <input id="uutType" type="text" class="form-control"
            placeholder="1479299-00-D">
    </div>
    <div class="form-group">
        <label for="uutTypeRev">UUT Type Rev: </label>
        <input id="uutTypeRev" type="text" class="form-control"
            placeholder="T1">
    </div>
    <div class="form-group">
        <label for="fixtureID">Fixture ID: </label>
        <input id="fixtureID" type="text" class="form-control"
            placeholder="593">
    </div>
    <div class="form-group">
        <label for="controller">Controller: </label>
        <input id="controller" type="text" class="form-control"
            placeholder="MY58120179">
    </div>
</form> -->

<form>
    <table>
        <tr> </tr>
        <tr>
            <td>
                <label for="uutType">UUT Type:</label>
            </td>
            <td>
                <input id="uutType" type="text" placeholder="1479299-00-D">
            </td>
        </tr>
        <tr>
            <td>
                <label for="uutTypeRev">UUT Type Rev:</label>
            </td>
            <td>
                <input id="uutTypeRev" type="text" placeholder="T1">
            </td>
        </tr>
        <tr>
            <td>
                <label for="fixtureID">Fixture ID: </label>
            </td>
            <td>
                <input id="fixtureID" type="text" placeholder="593">
            </td>
        </tr>
        <tr>
            <td>
                <label for="controller">Controller: </label>
            </td>
            <td>
                <input id="controller" type="text" placeholder="MY58120179">
            </td>
        </tr>
    </table>
</form>