<div class="wrapper">
    <div class="menu">
        <select id="name">
            <option value="nia">Nia Matos</option>
            <option value="anita">Anita Cruz</option>
            <option value="reina">Reina Brooks</option>
            <option value="britney">Britney Cooper</option>
            <option value="aliah">Aliah Pitts</option>
            <option value="reyna">Reyna Chung</option>
        </select>
    </div>

    <p id="demo"></p>

    <div class="content">
        <div id="nia" class="data">
            <p><b>Full Name: </b><span>Nia Matos</span></p>
            <p><b>Email: </b><span>niamatos@gmail.com</span></p>
            <p><b>Phone: </b><span>(+00) 9876 5432 10</span></p>
            <p><b>Twitter: </b><span>@niamatos</span></p>
            <p><b>Address: </b><span>4021 Biddi Lane, Naples FL</span></p>
            <p><b>Website: </b><span>www.niamatos.com</span></p>
        </div>
        <div id="anita" class="data">
            <p><b>Full Name: </b><span>Anita Cruz</span></p>
            <p><b>Email: </b><span>AnitaCruz@gmail.com</span></p>
            <p><b>Phone: </b><span>(+00) 9947 5432 10</span></p>
            <p><b>Twitter: </b><span>@AnitaCruz</span></p>
            <p><b>Address: </b><span>4021 Biddi Lane, Naples FL</span></p>
            <p><b>Website: </b><span>www.AnitaCruz.com</span></p>
        </div>
        <div id="reina" class="data">
            <p><b>Full Name: </b><span>Reina Brooks</span></p>
            <p><b>Email: </b><span>ReinaBrooks@gmail.com</span></p>
            <p><b>Phone: </b><span>(+00) 9876 5332 10</span></p>
            <p><b>Twitter: </b><span>@ReinaBrooks</span></p>
            <p><b>Address: </b><span>4021 Biddi Lane, Naples FL</span></p>
            <p><b>Website: </b><span>www.ReinaBrooks.com</span></p>
        </div>
        <div id="britney" class="data">
            <p><b>Full Name: </b><span>Britney Cooper</span></p>
            <p><b>Email: </b><span>BritneyCooper@gmail.com</span></p>
            <p><b>Phone: </b><span>(+00) 9876 5432 10</span></p>
            <p><b>Twitter: </b><span>@BritneyCooper</span></p>
            <p><b>Address: </b><span>4021 Biddi Lane, Naples FL</span></p>
            <p><b>Website: </b><span>www.BritneyCooper.com</span></p>
        </div>
        <div id="aliah" class="data">
            <p><b>Full Name: </b><span>Aliah Pitts</span></p>
            <p><b>Email: </b><span>AliahPitts@gmail.com</span></p>
            <p><b>Phone: </b><span>(+00) 9876 5498 10</span></p>
            <p><b>Twitter: </b><span>@AliahPitts</span></p>
            <p><b>Address: </b><span>4021 Biddi Lane, Naples FL</span></p>
            <p><b>Website: </b><span>www.AliahPitts.com</span></p>
        </div>
        <div id="reyna" class="data">
            <p><b>Full Name: </b><span>Reyna Chung</span></p>
            <p><b>Email: </b><span>ReynaChung@gmail.com</span></p>
            <p><b>Phone: </b><span>(+00) 9876 5432 11</span></p>
            <p><b>Twitter: </b><span>@ReynaChung</span></p>
            <p><b>Address: </b><span>4021 Biddi Lane, Naples FL</span></p>
            <p><b>Website: </b><span>www.ReynaChung.com</span></p>
        </div>
    </div>
</div>