@media (prefers-color-scheme: dark) {
  body { background: #282a35; color: white;}
  /* select {
    background-color: #cccccc;
  } */
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: #282a35;}
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  text-align: center; /* horizontal */
  padding-top: 50px;
}